
.backblock {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.back-left {
  position: absolute;
  bottom: 0;
  left: 0;
  //width: 32.0354vw;
  width: 32.0594vw;
  height: 100%;

  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.back-center {
  left: 32.0313vw;
  bottom: 0;
  width: 35.7813vw;
  //overflow: hidden;
  position: absolute;
  height: 100%;

  .bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
.wardrobe {
  width: 46.3542vw;
  height: 53.8542vw;
  position: absolute;
  bottom: 1.2500vw;
  left: -5.2083vw;
  z-index: 1;
  .img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.back-right {
  bottom: 0;
  right: 0;
  height: 100%;
  width: 32.4717vw;
  overflow: hidden;
  position: absolute;

  .bg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
.mirror {
  position: absolute;
  z-index: 2;
  width: 12.6042vw;
  height: 13.0208vw;
  top: 6.6667vw;
  right: 1.7188vw;
  > img {
    width: 100%;
    height: 100%;
  }
}
.mirror-imgs {
  position: absolute;
  top: 2.0833vw;
  right: 2.1875vw;
  width: 7.0313vw;
  height: 8.3854vw;
  mask-image: url("../img/mask-mirror.png");
  mask-size: 100% 100%;
  mask-position: left top;
  .img {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
    img {
      width: 100%;
      height: 100%;
    }
    &.act {
      opacity: 1;
    }
  }
}
.chair-left {
  width: 37.8646vw;
  height: 31.5104vw;
  bottom: 2.0833vw;
  left: -4.9479vw;
  position: absolute;
  .img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.chair-right {
  width: 37.8646vw;
  height: 31.5104vw;
  bottom: 1.5625vw;
  right: -4.3229vw;
  position: absolute;
  .img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.title-right {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  top: 7.5000vw;
  right: 7.2917vw;
  span {
    font-weight: 500;
    font-size: 1.3021vw;
    line-height: 1.5104vw;
    letter-spacing: 0.02em;
    text-align: right;
    color: #fff;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

  }
  p {
    font-weight: bold;
    font-size: 2.6042vw;
    letter-spacing: -0.01em;
    line-height: 2.8646vw;
    text-align: right;
    color: #fff;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-bottom: 4px;

  }
}
.plates-center {
  z-index: 2;
  position: absolute;
  //border: 1px solid red;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  ol {
    display: flex;
    width: 100%;
    counter-reset: my-awesome-counter2;
    li {
      right: 0;
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      counter-increment: my-awesome-counter2;
      cursor: pointer;
      p, span {
        transition: color 0.3s ease;
      }
      &:hover {
        p, span {
          color: $pink;
          transition: color 0.3s ease;

        }
      }
      &::before {
        content: counter(my-awesome-counter2);
        font-weight: 900;
        font-size: 2.6042vw;
        line-height: 3.1250vw;
        letter-spacing: -0.01em;
        text-align: right;
        color: #1b4d96;
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        position: absolute;

      }
      p {
        font-weight: 900;
        font-size: 1.3021vw;
        line-height: 1.5104vw;
        letter-spacing: 0.02em;
        text-align: right;
        color: #fff;
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      }
      span {
        font-weight: normal;
        font-size: 1.3021vw;
        line-height: 1.5104vw;
        letter-spacing: 0.03em;
        text-align: right;
        color: #fff;
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

      }
      &:nth-child(1) {
        //top: 9.1104vw;
        bottom: 37.28vw;
        padding-right: 9.5271vw;
        &:before {
          right: 5.7813vw;
          top: 0.3646vw;
        }
      }
      &:nth-child(2) {
        //top: 15.1763vw;
        bottom: 31.19vw;
        padding-left: 10.6771vw;
        &::before {
          left: 6.2500vw;
          top: 0.2083vw;
        }
        span {
          letter-spacing: 0.02em;
        }
      }
      &:nth-child(3) {
        //top: 20.5929vw;
        bottom: 25.78vw;
        padding-right: 17.1213vw;
        &::before {
          top: 0.2083vw;
          right: 13.2813vw;
        }
        span {
          letter-spacing: 0.02em;
        }
      }
      &:nth-child(even) {
        align-items: flex-end;
        p, span {
          text-align: left;
        }
      }
    }

  }
}
.part-back {
  transition: opacity 0.3s linear;
  &.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s linear;

  }
}
.backblock {
  transition: opacity 0.3s ease;
  &.hide {
    transition: opacity 0.3s ease;
    opacity: 0;
    transition-delay: 0.3s;
    pointer-events: none;
  }
}

.big-menu {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dance-button {
  position: absolute;
  left: 121px;
  top: 160px;

  .img {
    width: 511px;
    height: 414px;
    position: relative;
    transform: rotate(9deg);
    > img {
      width: 100%;
      height: 100%;
    }
    .pic {
      position: absolute;
      top: 63px;
      right: 46px;
      width: 152px;
      height: 282px;
      //transform: rotate(9deg);
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.button-opener {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  p {
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #2e82c4;
  }
  span {
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #707070;

  }
  .btn {
    position: absolute;
    top: 10px;
    left: 50%;
  }
}
.btn-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(51deg, #2e82c4 0%, #1b4d96 100%);
  position: relative;
  &::after {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    content: '';
    z-index: 2;
    background: url("../img/arr-l.png") no-repeat center / 100%;
  }
  &::before {
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border-radius: 50%;
    display: inline-block;
    content: '';
    position: absolute;
    z-index: 1;
    background: linear-gradient(180deg, #72ffe7 0%, #fff 100%);
    transform: rotate(0);
    transition: transform 0.2s linear, background-color 0.2s linear;
  }
}
.btn-main {
  &:hover {
    .btn-circle {
      &::before {
        background: linear-gradient(180deg, #ff72ff 0%, #fff 100%);
        transform: rotate(360deg);
        transition: transform 0.2s linear, background-color 0.2s linear;
      }
    }
  }
}
.menu-btn {
  &:hover {
    .btn-circle {
      &::before {
        background: linear-gradient(180deg, #ff72ff 0%, #fff 100%);
        transform: rotate(360deg);
        transition: transform 0.2s linear, background-color 0.2s linear;
      }
    }
    .btn {
      .txt {
        max-width: 270px;
        opacity: 1;
        transition: max-width 0.3s ease-out, opacity 0.3s ease-out;

      }
    }
  }
}
.btn {
  .txt {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: -5px;
    top: -5px;
    bottom: -5px;
    padding: 5px 17px 5px 62px;
    &::before {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(to left, #2e82c4 0%, #2e82c4 56.32%, #1b4d96 100%);
      display: inline-block;
      content: '';
      opacity: 0.84;
    }

    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #cce6f8;
    white-space: nowrap;

    overflow: hidden;
    border-radius: 50px;
    opacity: 0;
    transition: max-width 0.3s ease-out, opacity 0.3s ease-out;

  }
}